@fontface {
  src: url('https://fonts.googleapis.com/css?family=Asul:400,700');
}


::-webkit-scrollbar {
    display: none;
}

@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Tahoma.ttf'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./fonts/Tahoma.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Tahoma.ttf') format('woff2'), /* Super Modern Browsers */
       url('./fonts/Tahoma.ttf') format('woff'), /* Modern Browsers */
       url('./fonts/Tahoma.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Tahoma.ttf') format('svg'); /* Legacy iOS */
}
body {
  font-family: 'Tahoma';
}
